body{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

header {
    grid-area: header;
    width: 100%;
    background-color: #86B6F6;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: black;
}
section {
    width: 50%;
    grid-area: section;
    background-color: #EEF5FF;
    content: "";
    display: block;
    clear: both;
    color: black;
}
nav {
    grid-area: nav;
    background-color: #becfc2;
    padding: 10px;
    display: flow;
    text-align: center;
    color: black;
}
aside {
    grid-area: aside;
    background-color: #fff4a4;
    padding: 15px;
    text-align: center;
    color: black;
}
aside{
    background-color: azure;
}
article {
    background-color: rgba(241, 240, 255, 0);
    padding: 20px;
    text-align: center;
    color: black;
}
footer {
    grid-area: footer;
    background-color: steelblue;
    color: white;
    padding: 10px;
    text-align: center;
}